@use './creator-header';
@use './creator-panels';
@use './creator-footer';
@use './checkbox';
@use './radio-set';
@use './file-picker';

#creator {
  --header-width: calc(100% - var(--icon-size));
  --header-height: calc(var(--icon-size) + 0.5em);
  --footer-font: 5vw;
  --footer-height: calc(2.4 * var(--footer-font));
  --panel-height: calc(
    100vh - var(--header-height) - var(--footer-height)
  );

  --bg-color: #111;
  --border-size: 3px;
  --border: var(--border-size) inset #444;

  // Make the #creator panel fill the <Outlet />, using margins
  height: var(--panel-height);
  margin-top: var(--header-height);
  margin-bottom: var(--footer-height);
  width: 100vw;

  div.creator-help {
    height: 100%;
  }

  @media (min-width:360px) {
    --footer-font: 18px;
  }
}