@use './creator-dialog';
@use './creator-gallery';

#creator {
  div.creator-panels {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;

    & > div {
      // flex: 1;
      height: 100%;
    }
  }
}