#creator {
  --bar-width: calc(100% - var(--icon-size));
  --bar-height: calc(var(--icon-size) + 0.5em);
  width: 100vw;
  height: calc(100vh - var(--bar-height));
  margin-top:  var(--bar-height);


  #titlebar {
    --bg-color: #1118;
    --border-size: 3px;
    --border: var(--border-size) outset #444;
    position: fixed;
    top: 0;
    left: 0;
    width: var(--bar-width);
    height: var(--bar-height);

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--bg-color);
    border-bottom: var(--border);

    padding-left: var(--icon-size);

    & h1 {
      font-size: calc(0.5 * var(--icon-size));
    }

    & .title {
      padding-left: 0.5em;
    }

    .buttons {
      display: flex;
      height: 100%;
    }

    button {
      position: relative;
      bottom: calc(-1 * var(--border-size));
      width: var(--bar-height);
      height: 100%;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom: var(--border);
      background-color: #000;
      margin-right: 0.5em;

      & span {
        font-size: var(--icon-size);
      }

      & img {
        height: 75%;
        object-fit: contain;
      }
    }

    button.selected {
      border-bottom: none;
      background-color: var(--dark);
    }
  }

  div.creator-panels {
    display: flex;
    width: 100%;
    height: 100%;

    & > div {
      flex: 1;
      height: 100%
    }
  }

  div.gallery {
    border-right: 1px solid #fff6;
  }

  // div.cards {
  //   // background-color: #006;
  // }

  div.creator-help {
    // background-color: #600;
    height: 100%;

    // <<< TEMPORARY
    & h1 {
      margin-top: 0;
    }
    // TEMPORARY >>>
  }
}