#creator {
  .footer {
    --margin: 0.25em;
    bottom: 0;
    width: 100%;
    height: var(--footer-height);
    border-top: var(--border);
    font-size: var(--footer-font);
    justify-content: center;

    & button {
      margin: 0 var(--margin);
    }

    & div:first-child {
      position: absolute;
      left: var(--margin);
    }

    & div:last-child {
      position: absolute;
      right: var(--margin);
    }

    @media (max-width: 750px) {
      font-size: 2.4vw;
    }
  }
}