#event {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  --padding: 0.5em;


  .welcome {
    --size: min(320px, calc(100vw - var(--scroll-size)));
    --emoji-size: calc(0.2 * var(--size));
    --emoji-font: calc( 0.75 * var(--emoji-size));
    --font-size: min(4.75vw, 16px);
    --pad-w: calc(0.125 * var(--font-size));
    --pad-h: calc(0.0625 * var(--font-size));
    --pad-x: calc(0.5 * var(--font-size));
    width: var(--size);
    font-size: var(--font-size);

    .languages {
      position: relative;
      height: 5.5em;

      img {
        width: 3em;
      }
    }
    
    h1 {
      text-align: center
    }
    
    .emojis {
      position: relative;
      width: var(--size);
      height: var(--size);
      margin: 0 auto;
      text-align: center;
    }
    
    label:disabled,
    label[disabled] {
      border: none;
      background-color: transparent;
      opacity: 0.25;
      pointer-events: none;
      cursor: default;
    }
    
    input[type=text] {
      display: inline-block;
      width: calc(var(--size) - var(--pad-x));
      font-size: inherit;
      margin: 0 auto var(--padding);
      text-align: left;
      padding: var(--pad-h) var(--pad-w)
    }
    
    input[type=radio] {
      position: absolute;
      width: 0;
      opacity: 0;
    }
    
    label:empty,
    span {
      display: inline-block;
      width: var(--emoji-size);
      height: var(--emoji-size);
      font-size: var(--emoji-font);
      box-sizing: border-box;
      text-align: center;
      opacity: 0.75;
      vertical-align: top;
    }
    
    span {
      border: 1px outset #888;
      border-radius: 0.25em;
      cursor: pointer;
    }
    
    input[type=radio]:checked ~ span {
      opacity: 1;
      background-color: var(--light);
      border-style: inset;
    }
    
    .busy-button {
      position: relative;
      width: 100%;
      height: 3em;
      margin: var(--padding) 0;
    }
    
    .busy-button * {
      width: 100%;
      height: 100%;
    }
    
    .busy-button p {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #533;
      text-align: center;
      border-radius: var(--btn-border-radius);
      margin: 0;
    }
  }

  .lobby {
    font-size: min(3vmin, 30px);
    --width: 100vmin;
    --out-size: 2em;
    --out-font: calc(var(--out-size) * 0.8);
    --list-height: calc(100vh - var(--out-size));
    --thumbnail-size: 30vmin;
    --start-size: calc(var(--thumbnail-size) * 0.475);
    --emoji-size: calc(var(--start-size) * 0.6667);
    --item-height: calc(var(--thumbnail-size) + 1em);

    .log-out {
      position: absolute;
      top: 0;
      right: 0;
      width: var(--out-size);
      height: var(--out-size);
      background-color: var(--dark);
      padding: 0;

      span {
        font-size: var(--out-font);
      }
    }

    ul {
      position: absolute;
      top: var(--out-size);
      left: calc((100vw - var(--width)) / 2);
      width: var(--width);
      height: var(--list-height);
      overflow-y: auto;
      overflow-x: hidden;
      list-style-type: none;
      padding: 0;
      margin: 0;
    }

    li {
      height: var(--item-height);
      display: flex;
      border-bottom: 1px solid var(--light);
      box-sizing: border-box;
      padding: var(--padding) 0;
    }

    li:nth-child(odd) {
      background-color: #333;
    }

    img {
      width: var(--thumbnail-size);
      height: var(--thumbnail-size);
      margin-left: var(--padding);
    }

    div.description {
      flex: 1;
      margin: 0 var(--padding);
      text-align: center;
    }

    h3 {
      font-size: 2em;
      // margin: 0.5em 0 0;
    }

    div.start {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: var(--thumbnail-size);
      width: var(--start-size);
      margin-right: var(--padding);
      z-index: 1; /* to appear in front of li background */

      button {
        position: relative;
        width: var(--start-size);
        height: var(--start-size);
        box-sizing: border-box;
      }

      button.live {
        border-radius: var(--start-size);
        margin-bottom: var(--padding);

        div.timer {
          position: absolute;
          top: 0;
          left: 0;
          border: 0.25em solid #f006;
          box-sizing: border-box;
          width: 100%;
          height: 100%;
          border-radius: var(--start-size);
        }

        span.emoji {
          background-color: transparent;
        }

        span.start {
          display: inline-block;
          top: 0;
          line-height: var(--start-size);
          background-color: transparent;
          opacity: 0.75;
          z-index: 1; /* to appear before timer */
        }
      }

      span.emoji {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        font-size: var(--emoji-size);
        line-height: var(--start-size);
      }

      span.start {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        text-shadow: 0px 0px 5px #000, 0px 0px 5px #000;
      }
    }

    // @media (min-aspect-ratio: 117/100) {
    //   ul {
    //     top: 0;
    //     height: 100vh;
    //   }
    // }
  }
}