#event {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  --padding: 0.5em;

  /* Welcome */
  --welcome-size: min(320px, calc(100vw - var(--scroll-size)));
  --welcome-emoji-size: calc(0.2 * var(--welcome-size));
  /* WARNING: In narrow screens with Safari, 0.5 is needed */
  --welcome-emoji-font: calc( 0.75 * var(--welcome-emoji-size));
  --welcome-font-size: min(4.75vw, 16px);

  /* Scale padding for name input:text with font-size*/
  --pad-w: calc(0.125 * var(--welcome-font-size));
  --pad-h: calc(0.0625 * var(--welcome-font-size));
  --pad-x: calc(0.5 * var(--welcome-font-size));
  --input-width: calc(var(--welcome-size) - var(--pad-x));

  /* Lobby */
  --thumbnail-size: 30vmin; /* for pack thumbnail */
  --lobby-item-height: calc(var(--thumbnail-size) + 1em);
  /* Square size of Start and Join buttons.
   * Also line-height for emojis and Join text, to center them.
   */
  --start-size: calc(var(--thumbnail-size) * 0.475);
  /* Size of emoji in Start and Join buttons */
  --start-emoji-size: calc(var(--start-size) * 0.6667);
  /* Centre lobby on a wide screen*/
  --lobby-width: 100vmin;
  --lobby-left: calc((100vw - var(--lobby-width)) / 2);
  /* Log out button in space above lobby list*/
  --out-size: 2em;
  --out-font: calc(var(--out-size) * 0.8);
  --lobby-list-height: calc(100vh - var(--out-size));

  /* Room */
  --member-square-size: calc(
    (100vmin - 2 * var(--qr-collapsed-width)) / 2
  );
  --member-text-size: calc(var(--member-square-size) / 6);
  /* Fit emojis to squares... even on Safari */
  --member-emoji-size: calc(var(--member-square-size) * 0.6667);
  --stranger-size: calc(var(--qr-collapsed-width) * 0.55);
  --danger-size: calc(var(--qr-collapsed-width) * 0.6667);

  --text-shadow: 0px 0px 5px #000, 0px 0px 5px #000;


  /* Shared components */
  .noStrangers {
    position: absolute;
    top: 0;
    right: 0;
    width: var(--qr-collapsed-width);
    height: var(--qr-collapsed-width);
    padding: 0;
    margin: 0;
    overflow: hidden;

    input[type=checkbox] {
      position: absolute;
      left: -999vw;
    }

    span {
      position: absolute;
      top: -0.05em;
      left: 0;
      width: var(--qr-collapsed-width);
      line-height: var(--qr-collapsed-width);
      padding: 0;
      margin: 0;
    }

    span.stranger {
      font-size: var(--stranger-size);
    }

    span.hidden {
      display: none;
    }

    span.danger {
      font-size: var(--danger-size);
      opacity: 0.75;
    }
  }

  .leave-room {
    position: absolute;
    top: 0;
    right: 0;
    width: var(--qr-collapsed-width);
    height: var(--qr-collapsed-width);
    padding: 0;
    margin: 0;
    overflow: hidden;
    
    img {
      width: calc(var(--qr-collapsed-width) * 0.6667); 
    }
  }
  
  /* timer ring to fit in live start button */
  div.timer {
    position: absolute;
    top: 0;
    left: 0;
    border: 0.5vmin solid #f006;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 100vmax;
  }

  /* Centre text for Start buttons, make visible on background */
  span.start {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-shadow: var(--text-shadow);
  }

  .welcome {
    width: var(--welcome-size);
    font-size: var(--welcome-font-size);

    .languages {
      position: relative;
      height: 5.5em;

      img {
        width: 3em;
      }
    }
    
    h1 {
      text-align: center
    }
    
    .emojis {
      position: relative;
      width: var(--welcome-size);
      height: var(--welcome-size);
      margin: 0 auto;
      text-align: center;
    }
    
    label:disabled,
    label[disabled] {
      border: none;
      background-color: transparent;
      opacity: 0.25;
      pointer-events: none;
      cursor: default;
    }
    
    input[type=text] {
      /* Padding scales with font-size (not fixed pixels) */
      display: inline-block;
      font-size: inherit;
      width: var(--input-width);
      margin: 0 auto var(--padding);
      padding: var(--pad-h) var(--pad-w);
    }
    
    input[type=radio] {
      position: absolute;
      width: 0;
      opacity: 0;
    }
    
    /* Dimensions of the space for each emoji (even when empty) */
    label:empty,
    span {
      display: inline-block;
      width: var(--welcome-emoji-size);
      height: var(--welcome-emoji-size);
      font-size: var(--welcome-emoji-font);
      box-sizing: border-box;
    }
    
    /* RadioButton-like status for unselected emojis */
    span {
      border: 1px outset #888;
      border-radius: 0.25em;
      text-align: center;
      opacity: 0.75;
      vertical-align: top;
      cursor: pointer;
    }
    
    /* Selected emoji */
    input[type=radio]:checked ~ span {
      opacity: 1;
      background-color: var(--light);
      border-style: inset;
    }
    
    .busy-button {
      position: relative;
      width: 100%;
      height: 3em;
      margin: var(--padding) 0;
    }
    
    .busy-button * {
      width: 100%;
      height: 100%;
    }
    
    /* Make the 'reason you can't press this button' p the same
     * shape as the button
     */
    .busy-button p {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #533;
      text-align: center;
      border-radius: var(--btn-border-radius); /* in app.scss */
      margin: 0;
    }
  }

  .lobby {
    font-size: min(2.5vmin, 25px);

    .log-out {
      position: absolute;
      top: 0;
      right: 0;
      width: var(--out-size);
      height: var(--out-size);
      background-color: var(--dark);
      padding: 0;

      span {
        font-size: var(--out-font);
      }
    }

    ul {
      position: absolute;
      top: var(--out-size);
      left: var(--lobby-left);
      width: var(--lobby-width);
      height: var(--lobby-list-height);
      overflow-y: auto;
      overflow-x: hidden;
      list-style-type: none;
      padding: 0;
      margin: 0;
    }

    li {
      height: var(--lobby-item-height);
      display: flex;
      border-bottom: 1px solid var(--light);
      box-sizing: border-box;
      padding: var(--padding) 0;
    }

    li:nth-child(odd) {
      background-color: #333;
    }

    img {
      width: var(--thumbnail-size);
      height: var(--thumbnail-size);
      margin-left: var(--padding);
    }

    div.description {
      flex: 1;
      margin: 0 var(--padding);
      text-align: center;
    }

    h3 {
      font-size: 2em;
    }

    div.start {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      /* Same height as pack thumbnail */
      height: var(--thumbnail-size);
      /* Slightly less than half the height, to leave a gap */
      width: var(--start-size);
      margin-right: var(--padding);
      z-index: 1; /* to appear in front of li background */

      button {
        /* Square that fits div.start width*/
        position: relative;
        width: var(--start-size);
        height: var(--start-size);
        box-sizing: border-box;
        overflow: hidden;
      }

      /* Centre emojis in both buttons */
      span.emoji {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        font-size: var(--start-emoji-size);
        line-height: var(--start-size);
      }

      button.live {
        border-radius: 100vmax;
        margin-bottom: var(--padding);

        /* Show Join text in the middle */
        span.start {
          top: 0;
          line-height: var(--start-size);
          opacity: 0.75;
          z-index: 1; /* to appear before timer */
        }
      }
    }
  }

  .room {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    left: 0;
    height: 100vh;

    .members {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;

      div:not(.timer),
      button {
        position: relative;
        width: var(--member-square-size);
        height: var(--member-square-size);
        padding: 0;
        border-radius: 2em;
      }

      button.live {
        width:  var(--member-square-size);
        border-radius: 100vmax;
      }

      span {
        display: inline-block;
        width: var(--member-square-size);
        height: var(--member-square-size);
        text-align: center;
        font-size: var(--member-square-size);
        line-height: var(--member-square-size);
        overflow: hidden;
        font-size: var(--member-emoji-size);
      }

      span.start {
        font-size: var(--member-text-size);
      }
    }

    .preview {
      --width: calc(100vw - var(--scroll-size));
      --image-size: calc(var(--width) / 4);
      position: relative;

      margin-top: 1em;
      flex-shrink: 1;
      overflow-x: hidden;
      overflow-y: auto;

      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        list-style-type: none;
        padding: 0;
        margin: 0;
        max-height: 24vh;
      }

      img {
        height: min(8vh, 40vw);
        margin: 0;
        vertical-align: top;
      }
    }
  }

  #board {
    ul {
      list-style-type: none;
      padding: 0;
      font-size: 5vmin;
      margin: 0;
    }

    div.score,
    div.final-score {
      position: absolute;
      bottom: 0;
      left: 0;
    }



    span {
      margin-left: 0.25em;
      text-shadow: var(--text-shadow);
    }
  }
}