@use './variables.scss';
@use 'menu.scss';
@use 'creator.scss';
@use 'event.scss';

:root {
  --light: #ddd;
  --r: 34;
  --g: 34;
  --b: 34;
  --a: 0.95;
  --dark: rgb(var(--r), var(--g), var(--b));
  --darkly: rgba(var(--r), var(--g), var(--b), var(--a));
  --disabled: #999;
  --disabled-bg: #666;
  --primary: #060;
  --primary-border: #393;
  --primary-active: #030;

  --menu-width: min(15em, 50vw);
  --fixed-width: calc(100vw - var(--menu-width));
  --icon-ratio: 0.25;
  --icon-size: calc(var(--icon-ratio) * var(--menu-width));
  --btn-border-radius: 0.25em;

  --qr-collapsed-width: 10vmin;
  --qr-expanded-width: 80vmin;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--dark);
  color: var(--light);

  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#outlet {
  overflow-y: auto;
  overflow-x: hidden;
}


// BUTTONS AND LINKS THAT LOOK LIKE BUTTONS //

div.buttons {
  display: flex;
  justify-content: space-between;

  & .primary {
    margin-left: 0.5em;
    flex: 1
  }
}

button,
.button {
  padding: 0.25em 0.5em;

  border: 1px outset #888;
  border-radius: var(--btn-border-radius);
  background-color: inherit;
  color: var(--light);
  font-size: inherit;
  font-family: inherit;
  text-decoration: none;

  /* don't allow text selection */
  -webkit-user-select: none; /* Safari */
  user-select: none;

  pointer-events: all;
}

button:not(:disabled):hover,
.button:not(:disabled):hover,
a.here {
  color: #fff;
}

button:not(:disabled):active:hover,
.button:not(:disabled):active:hover,
button.pressed,
.button.pressed,
a.here {
  background-color: #000;
  border-style: inset;
}

button:not(:disabled),
.button {
  cursor: pointer
}

button.primary,
.button.primary {
  background-color: var(--primary);
  border-color: var(--primary-border);

  &:active:hover {
    background-color: var(--primary-active);
  }
}

form:invalid button,
button:disabled,
.button:disabled {
  color: var(--disabled);
  background-color: var(--disabled-bg);
  pointer-events: none;
}

.button.like {
  border-style: solid!important;
  // pointer-events: none;
  cursor: default;
  background-color: transparent!important;
}

.qrcode {
  --size: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.qrcode div {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 1em;
}

// QRCODE // QRCODE // QRCODE // QRCODE // QRCODE // QRCODE //

.qrcode a {
  display: inline-block;
  color: var(--light);
  width: calc(100% - var(--size));
  overflow: auto;
}

.qrcode svg {
  position: absolute;
  right: 0;
  width: var(--size);
  height: var(--size);
  padding: 0.333em;
  box-sizing: border-box;
  border: 1px outset var(--light);
  border-radius: 0.25em;
  color: var(--light);
}

.qrcode svg:hover {
  background-color: #000;
}

.qrcode svg:active {
  border-style: inset;
}


/* PRINT // PRINT // PRINT // PRINT // PRINT // PRINT // PRINT */

main {
  position: absolute;
  width: 100vw;
  height: auto;
  top: 0;
  background-color: #fff;
}

@media print {
  #menu, #menu *, .tweaker
  {
    display: none !important;
  }

  #root {
    width: 100vw;
    height: auto !important;
  }
}