#menu {
  & {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: var(--menu-width);
    background-color: var(--darkly);
    border-right: #000;
    box-shadow: 10px 10px 10px #0009;
    z-index: 99;

    transition: left .4s linear;
  }

  label[for=fix-menu] {
    position: absolute;
    bottom: 0;
    opacity: 0.25;

    &:hover {
      opacity: 1
    }
  }

  #icon {
    --ratio: 0.25;
    --icon-width: calc(var(--ratio) * var(--menu-width));
    position: fixed;
    width: var(--icon-width);
    height: var(--icon-width);
    stroke: #fff;
    top: 0;
    transition-property: left, opacity;
    transition-duration: .3s, .1s;
    transition-timing-function: linear, ease;
  }
}