#outlet {
  & {
    background-image: url("../Assets/texture.jpg");
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .fixed-menu & {
    position: relative;
    width: var(--fixed-width);
    left: var(--menu-width);
  }
}