#play {
  & {
    height: 100vh;
    overflow: auto;
  }

  #connecting {
    width: 6em;

    .reconnecting {
      width: 8em;
    }
  }

  #disconnected {
    text-align: center;
    height: 7em;
  }

  /* JOIN GROUP // JOIN GROUP // JOIN // JOIN GROUP // JOIN GROUP */

  form {
    width: 15em;
  }

  form input[type=text],
  form button {
    width: 100%
  }

  form input[readonly] {
    color: #c90;
  }

  label {
    position: relative; /* to allow lock image to be absolute*/
  }

  label[for=room-name] span {
    transition: opacity 500ms;
  }

  label[for=room-name].locked span {
    opacity: 0.5;
  }

  /* For "lock" image only. Image will be invisible and
     unclickable...
  */
  form img {
    position: absolute;
    top: 0;
    right: 0;
    width: 2em;
    opacity: 0;
    transition: opacity 5000ms;
    pointer-events: none;
    cursor: default;
  }

  /* ... unless a closed lock is to be shown. If it is clicked,
     an open version of the lock will be shown instead, and its
     opacity will fade to 0 over the transition time. It will
     no longer be clickable
  */
  label[for=room-name].locked img{
    opacity: 1;
    pointer-events: all;
    cursor: pointer;
  }

  label[for=create-room].locked {
    opacity: 0.25;
  }

  label,
  label[for$=-name] * { /* user-name, room-name, not create-room */
    display: block;
    margin-bottom: 1em;
  }

  label[for] span {
    margin-bottom: 0.25em;
  }

  li.host {
    font-weight: bold;
    color: #fc6;
  }




  /* WAITING ROOM // WAITING ROOM // WAITING ROOM // WAITING ROOM */

  #room-link {
    --size: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #room-link div {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 1em;
  }

  #room-link a {
    display: inline-block;
    color: var(--light);
    width: calc(100% - var(--size));
    overflow: auto;
  }

  #room-link svg {
    position: absolute;
    right: 0;
    width: var(--size);
    height: var(--size);
    padding: 0.333em;
    box-sizing: border-box;
    border: 1px outset var(--light);
    border-radius: 0.25em;
    color: var(--light);
  }

  #room-link svg:hover {
    background-color: #000;
  }

  #room-link svg:active {
    border-style: inset;
  }

  #delay-slider {
    height: 4em;
    background-color: #333;
  }

  #delay-slider div {
    height: 1em;
    border-radius: 1em;
  }

  #delay-slider .range {
    position: relative;
    border: 1px solid var(--light);
    box-sizing: content-box;
  }

  #delay-slider .thumb {
    position: absolute;
    background-color: var(--light);
    width: 33.333%;
    border: 1px solid var(--dark);
    box-sizing: border-box;
  }

  #next-card {
    --radius: 100px;
    --bg-color: #080;
    position: absolute;
    top: 0;
    right: 0;
    width: var(--radius);
    height: var(--radius);
    border-bottom-left-radius: var(--radius);
    text-align: right;
    background-color: var(--bg-color);
    border-top-width: 0;
    border-right-width: 0;
    border-color: var(--bg-color);
    color: inherit;
  }

  #next-card:hover {
    --bg-color: #090;
    color: #fff;
  }

  #next-card:disabled {
    opacity: 0.25
  }

  #next-card span {
    position: relative;
    font-size: 4.5vmin;
    top: -1em;
  }

  /* SCORE */

  #score {
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--darkly);
    pointer-events: none;
    font-size: 6vmin;
    --edge: calc((100vw - 80vmin) / 2);
  }

  #score div {
    position: absolute;
    top: 50%;
    border: 0.05em inset var(--light);
    padding: 0 1em;
    left: var(--edge);
    right: var(--edge);
    transform: translate(0, -50%);
  }

  #score h1 {
    text-align: center;
  }

  #score ul {
    list-style-type: none;
    padding: 0;
    max-height: calc(50vh - 2.05em);
    overflow: auto
  }

  #score span {
    display: inline-block;
    width: 85%;
  }

  #score .score {
    text-align: right;
    width: 15%;
  }

  #score button {
    position: absolute;
    bottom: 0;
    font-size: inherit;
    left: 10%;
    right: 10%;
    width: 80%;
    z-index: 99;
  }

  .shadow {
    -webkit-filter: drop-shadow( 0px 0px 5px #fff);
    filter: drop-shadow( 30x 0px 5px #fff);
  }
}